.beer-header {
  width: 100%;
  background: #ffffff;
}

.layout-default .el-header {
  padding: 0;
}

.beer-header .el-row {
  width: 100%;
}

.beer-header > .el-row:nth-child(1) {
  height: 27px;
  padding: 0 66.5px;
  background: #f2f2f2;
}

.beer-header > .el-row:nth-child(1) .el-col {
  height: 100%;
}

.beer-header .default-header-advertising {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background: url(http://img10.jiuxian.com/bill/2019/0617/a82ac8412adf41ff9cb89bafd462c428.jpg) no-repeat center;
  background-size: 120% 100%;
}

.beer-header .beer-navbar {
  width: 100%;
  height: 34px;
  background: #900;
}

.beer-header .beer-navbar .el-col {
  height: 100%;
}

.beer-header .search-data {
  background: #ffffff;
}
