.beer-header {
  @at-root .layout-default {
    .el-header {
      padding: 0;
    }
  }
  width: 100%;
  background: #ffffff;
  .el-row{
    width: 100%;
  }
  >.el-row:nth-child(1){
    height: 27px;
    padding: 0 66.5px;
    background: #f2f2f2;
    .el-col{
      height: 100%;
    }
  }
  .default-header-advertising{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: url(http://img09.jiuxian.com/bill/2019/0608/eb9808cf23254f6095df2027e4b8758a.jpg) no-repeat center;
    background-size: 144% 100%;
  }
}
