html,body{
  width: 100%;
  height: 100%;
}
#__nuxt{
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?58itob');
  src:  url('../fonts/icomoon.eot?58itob#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?58itob') format('truetype'),
    url('../fonts/icomoon.woff?58itob') format('woff'),
    url('../fonts/icomoon.svg?58itob#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
    margin: 0;
    padding: 0;
}
.default-menu-style a{
  font-size: 12px;
  color: #999999;
}

.default-menu-style .el-dropdown-menu__item:not(.is-disabled):hover{
  background: #ffffff;
}
.default-menu-style .el-dropdown-menu__item a:hover{
  color: #c00;
}
.default-menu-intent{
  border-bottom:  1px solid #f2f2f2;
}
.menu-item-data{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu-item-data a{
  width: 33.33%;
}
.public-swiper-comp .el-carousel__indicators{
  left: 15%;
}
.public-swiper-comp .el-carousel li .el-carousel__button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #cccccc;
}
.public-swiper-comp .el-carousel .is-active .el-carousel__button{
  background: #6d81ae;
}

.beer-home-table-menu .el-tabs__item:hover{
  color: #c00!important;
}
.beer-home-table-menu .el-tabs--border-card>.el-tabs__header .el-tabs__item{
  border-top: 4px solid #ececec;
}
.beer-home-table-menu .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color: #c00;
  border-top-color: #c00;
}
.public-swiper-classify .el-carousel__indicator--horizontal{
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 4px;
}
.public-swiper-classify  .is-active{
  background: #fc5422;
}
.registered-input-area .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #999999!important;
}

.el-icon--right{
  margin: 0;
}
.el-popover a{
  color: #666666;
  font-size: 12px;
}

.icon-whitwine:before {
  content: "\e900";
}
.icon-editor:before {
  content: "\e901";
  font-size: 18px;
}
.icon-QRcode:before {
  content: "\e902";
  font-size: 16px;
}
.icon-shopcart:before {
  content: "\e903";
  font-size: 16px;
  color: #ffffff;
}
.icon-foreignwine:before {
  content: "\e904";
}
.icon-beer:before {
  content: "\e905";
}
.icon-customer:before {
  content: "\e906";
  color: #fff;
}
.icon-grapewine:before {
  content: "\e907";
  color: #4c3800;
}
.icon-love:before {
  content: "\e908";
  color: #ffffff;
}
.icon-phone:before {
  content: "\e909";
  color: #e61d15;
}
.icon-server:before {
  content: "\e90a";
}
.icon-mine:before {
  content: "\e90b";
  color: #ffffff;
}
.icon-up:before {
  content: "\e90c";
  font-size: 20px;
}
.icon-order:before {
  content: "\e90d";
}
.icon-member:before {
  content: "\e90e";
}
.icon-coupon:before {
  content: "\e90f";
}
.icon-logistics:before {
  content: "\e910";
}
