*{
    margin: 0;
    padding: 0;
}
.default-menu-style a{
  font-size: 12px;
  color: #999999;
}

.default-menu-style .el-dropdown-menu__item:not(.is-disabled):hover{
  background: #ffffff;
}
.default-menu-style .el-dropdown-menu__item:not(.is-disabled):hover a{
  color: #c00;
}
.el-icon--right{
  margin: 0;
}
